body {
  background-image: url('background.jpg');
  background-repeat: repeat;
  background-size: cover;
  padding-top: 70px;
}

body {
  background-color: #f8f9fa;
  text-align: center;
}

h1 {
  margin-top: 50px;
}

form {
  margin-top: 50px;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.container {
  margin-top: 50px;
}

.card{
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.58);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.logo-img {
  height: 50px;
}

#imagePreview {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
  margin-top: 10px;
}

#resultImage {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
  margin-top: 20px;
}

.p{
  text-align : justify;
}
