<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Batik AI</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loadingModalLabel">Proses Deteksi</h5>
      </div>
      <div class="modal-body">
        <p>Proses deteksi sedang berlangsung. Mohon tunggu...</p>
      </div>
    </div>
  </div>
</div>

  <nav class="navbar navbar-default fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mx-auto" href="{{ url_for('index') }}">
      <img src="../static/logo.png" alt="Logo" class="logo-img">
    </a>    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Beranda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">Tentang Aplikasi</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5" style="margin-top: 70px;">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 style="color: white; text-align: center;">Selamat Datang di <b>BATIK.AI</b></h1>
        <h5 style="color: white; text-align: center;">Mesin Klasifikasi Batik Indonesia</h5>
      </div>
    </div>

    <div class="row mt-5 text-center">
      <div class="col-md-6 offset-md-3">
        <div class="card shadow">
          <div class="card-body">
            <h2>Silahkan Upload Foto Batik</h2>
            <form method="POST" action="/predict" enctype="multipart/form-data">
              <input type="file" name="image" accept="image/png, image/jpeg" id="image" onchange="previewImage()">
              <img id="imagePreview" src="#" alt="Preview Image">
              <br><br>
              <input type="submit" value="Deteksi" id="submit-btn" class="btn btn-primary">
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    // Fungsi untuk menampilkan gambar yang diunggah saat dipilih
    function previewImage() {
      var preview = document.getElementById('imagePreview');
      var file = document.getElementById('image').files[0];
      var reader = new FileReader();

      reader.onloadend = function () {
        preview.src = reader.result;
      }
      
      if (file) {
        reader.readAsDataURL(file);
      } else {
        preview.src = "#";
      }
    }
  </script>
    <script>
      function showLoader() {
        document.getElementById("submit-btn").value = "Mendeteksi...";
        document.getElementById("submit-btn").disabled = true;
        document.getElementById("submit-btn").classList.add("disabled");
        document.getElementById("submit-btn").style.cursor = "progress";
        return true;
      }
      function showModal() {
        $('#loadingModal').modal('show');
      }

    </script>
  <script src="../static/main.js"></script>
  
</body>

</html>